</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Me</title>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style type="text/css">
      .LI-profile-badge {
        position:absolute;
        width:100px;
        height:100px;
        left:45%;
        margin-left:-50px;
      }
    </style>
    <% include partialtemplates/header.ejs %>

    <h1>
        Getting in Touch
    </h1>
  </head>
  <body>
      <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
      <p>
        If you would like to get in contact with me, here's a link to my LinkedIn with all of my contact info!
      </p>
      <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal"
      data-theme="light" data-vanity="roblburris"><a class="LI-simple-link"
      href='https://www.linkedin.com/in/roblburris?trk=profile-badge'>Robert Burris</a></div>



  </body>
</html>
