<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>RB</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


	<% include partialtemplates/header.ejs %>

	<h1>
		Hey There
	</h1>

</head>

<body>
	<img style="float: left; margin: 0px 15px 15px 0px; border-radius: 50%;" src="/assets/linked.jpeg" width="200" height="200"  />
	<p>
		I'm Robert Burris, a student currently in the College of Engineering at the University of Washington as part of the Engineering Undeclared program.
		After completing major prerequisites, I plan to apply the Allen School of Computer Science and Engineering where I plan to major in
		Computer Science. Here you'll find a collection of my various projects as well as a copy of my resume and info on where to contact me!
	</p>
</body>

</html>
