<!DOCTYPE html>
<head>
    <title>Personal Notes</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <% include partialtemplates/header.ejs %>
    <h1>
			About me!
    </h1>
</head>
<body>
    <p>
			In development - check back soon!
    </p>
</body>
<main>
</main>
</html>
