<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
        <title>Projects</title>
				<link rel="stylesheet" type="text/css" href="/assets/style.css">
				<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <% include partialtemplates/header.ejs %>

        <h1>
            My Side Projects
        </h1>
    </head>
    <body>
        <p>
            Here you'll find a collection of the various projects that are completed or currently in development. Each project features a brief description
            and embedded code straight from the appropriate GitHub repository & source file.
        </p>
        <h3> <u> Project 1: Personal Website </u> </h3>
        <p>
            My website (the one you&apos;re on right now) was built using Node.js for the backend. I used Express and EJS for routing and embedding the
            frontend elements. Overall, building this website was a pretty simple project that helped me learn more about full stack web development and
            the many processes that go into building a web application.
        </p>
        <button type="button" class="collapsible">View Main Node.js Code</button>
        <div class="content">
            <script src="http://gist-it.appspot.com/https://github.com/roblburris/Personal-Website/blob/master/main.js" slice=0:5></script>
        </div>

        <h3> <u> Project 2: Encore</u> </h3>
        <p>
            Spotify is one of the most popular music streaming platforms with over 200 million (~100 million paid) users throughout the world. Likewise, Discord, a popular
            chat platform boasts over 200 million users to which Discord and Spotify have partnered to allow users to do things like set their statuses to reflect what they are
            listening to on Spotify. Even with this powerful partnership, there appears to be a lack of functionality that allow for users to share songs
            and find new artists on Spotify with other users. To solve this problem, I decided to write a Discord bot (an automated user that returns
            information when a normal user pings it) in Python that makes use of the Spotify and Discord APIs to allow users to search songs, tracks, and artists on Spotify and return the
            results in Discord. As such, Encore makes it simple to share music and view Spotfy Popularity Analytics on their favorite songs and artists.
        </p>
        <button type="button" class="collapsible">View Main Bot Code (bot.py)</button>
        <div class="content">
            <script src="http://gist-it.appspot.com/https://github.com/roblburris/encore-bot/blob/master/bot.py" slice=0:5></script>
        </div>


        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
            	coll[i].addEventListener("click", function() {
            		this.classList.toggle("active");
            		var content = this.nextElementSibling;
            		if (content.style.display === "block") {
            			content.style.display = "none";
            		} else {
            			content.style.display = "block";
            		}
            	});
            }
        </script>
    </body>
</html>
