<!DOCTYPE html>
<html>
<head>
	<title>Resume</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

	<% include partialtemplates/header.ejs %>
	
	<h1>
		My Resume
	</h1>
</head>

<body>
	<p>
		Here you can find a copy of my resume!
	</p>

  <center>
    <iframe src="/assets/resume.pdf" height="700" width = "950"></iframe>
  </center>

</body>

</html>
