<div class="topnav">
  <a href="/">Home</a>
  <a href="/resume">Resume</a>
  <a href="/projects">Projects</a>
  <!-- <a href="/personal">Personal Notes</a>  will add later-->
  <a href="/contact">Contact Me</a>
</div>
